.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 12.5em;
  background: #e1e1e1;
  margin: -1em -2.5em 1em;
  font-size: 2em
}

#post-content p img {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.post-header {
  margin-bottom: 0.2rem;
}

.post-start {
  margin-bottom: 1rem;
}