---
---

<div>
  <p>
    Catch me doing (mostly) movement related fun. Here's some of what I've got
    going on:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Product strategy + engineering.</strong>
      I consult for startups and large companies alike to help them build rad products.
      Got an idea? <a href="mailto:hey@outlandnish.com">Let's chat.</a>
    </li>
    <li>
      <strong>Contributing to Open Source projects.</strong>
      Find my current work on <a
        href="https://github.com/outlandnish"
        target="_blank">GitHub.</a
      > I love building fun projects collaboratively.
    </li>
    <li>
      <strong>Motorsports instruction.</strong>
      Former time attack competitor / drifter with experience instructing across
      the US. Let's make you <a href="mailto:racing@outlandnish.com">faster.</a>
    </li>
    <li>
      <strong>Drone operator.</strong>
      Part 107 certified and co-designed/built the first-gen framework that drones
      use to interact with US airspace. Let's get your project <a
        href="mailto:hey@outlandnish.com">off the ground.</a
      >
    </li>
    <li>
      <strong>Music discovery.</strong> Here's what I'm <a
        href="https://open.spotify.com/user/nishanthsamala?si=a100dfbdb2484278"
        target="_blank">listening to</a
      > - let's find an intimate concert!
    </li>
    <li>
      <strong>Hacking micromobility.</strong>
      Light up your ride with <a href="https://docs.ridewithamp.com">the Amp</a>
      or unlock your Onewheel's potential with <a
        href="https://rewheel.app"
        target="_blank">Rewheel.</a
      >
    </li>
    <li>
      <strong>Exploring the world.</strong> Last spot: Englishtown, NJ / Raceway Park. Next: Bilbao / Knivsta / Le Mans
    </li>
    <li>
      <strong>Attempting to dance.</strong> Currently learning bachata and salsa.
    </li>
  </ul>
</div>
