.separator {
  display: inline;
}

.timeline-preview-title {
  margin-bottom: 0rem;
}

@media only screen and (max-width: 600px) {
  .timeline-preview-title {
    margin-top: 0.8rem;
    padding-right: 0.5rem;
  }

  .separator {
    display: none;
  }
}

.month-group {
  margin-bottom: 1rem;
}